body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    margin: 0;
}

h1 {
  text-align: center;
}

h2 {
    margin: 0;
}

p {

}

main {
    width: 75%;
    border: solid 2px red; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info {
    border: 1px solid black;
    margin: 15px;
    padding: 0 5px;
    flex-basis: 300px;
}

img {
    width: 100%;
}

.media screen and {max-width:500px}
main{
    width: 100%;
}

.info {
    flex-basis: 100%;
}

